.background
  width 100vw
  background-color $bg_100
  border-top 1px solid $bg_40
  padding 150px 15px 50px 15px
  
  &__text
    font-family $serif
    color $text
    max-width 500px
    font-size 20px
    margin auto
    margin-bottom 28px
    
    &:first-child::first-letter
      float left
      font-size 60px
      line-height 60px
      margin-right 10px
      font-family $sans
      font-weight $bold
      
.chart-wrap--background
  max-width 1200px
  margin auto
  margin-bottom 100px
  margin-top 105px
  width 100%
  
  &#sea-level
    max-width 1000px

#sea-level svg
  overflow visible
  
  .tick text
    font-family forma-djr-deck, sans-serif
    font-size 16px
    letter-spacing 0.7px
    fill #cac8d2
    
  .tick line
    opacity 0.6
    
  .y.axis line, .x.axis line
    stroke-opacity 0.2
    stroke #fff
    stroke-dasharray 3
    
  .y.axis .tick:first-of-type line
    stroke white
    opacity 0.6
    
  .mean
    stroke $orange
    stroke-width 2

.chart-title
  font-family forma-djr-deck, sans-serif
  fill $text
  opacity 0.8
  font-weight bold
  font-size 36px
  letter-spacing 1px