.costs
  background-color $bg_100
  
  .costs-intro
    margin-top 100px
  
  #costs-svg-wrap
    position absolute
    top 100px
    bottom 40px
    left 50px
    right 100px
    
    svg
      overflow visible
      
      .county-label
        font-family $sans
        fill $text
        font-size 14px