
// Graphic
.state
	fill black !important
// Text

.intro-text-centered-first
	margin-top -80vh

.intro-text-centered
	position relative
	padding-bottom 150px
	
	.intro__step
		color $text
		height auto
		margin auto
		margin-bottom 150px
		max-width 650px
		//opacity 0.8 !important
	
	.intro__step__link
		padding 8px 15px
		font-family forma-djr-deck, sans-serif
		text-transform uppercase
		letter-spacing 1px
		background-color rgba(255, 255, 255, 0.3)
		opacity 0.7
		color white
		border-radius 3px
		margin-top 26px
		transition opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), padding-right 0.3s cubic-bezier(0.215, 0.61, 0.355, 1)
		position relative
		
		&:hover
			opacity 1
			padding-right 35px
			
			.right-arrow
				opacity 1
				right 5px
		
		.right-arrow
			height 15px
			position absolute
			top 11px
			right 0px
			opacity 0
			transition opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), right 0.3s cubic-bezier(0.215, 0.61, 0.355, 1)

	.intro__step__text
		max-width 650px
		
	.intro__step__header
		max-width 650px
		font-family big-caslon-fb, serif
		margin auto
		color $gold
		font-weight bold
		margin-bottom 18px
		font-size 30px
		
		.count
			margin-right 20px
			font-family forma-djr-deck, sans-serif
			color rgba(255, 255, 255, 0.3)
			font-size 21px
			letter-spacing 1px
			font-weight normal
			width 60px
			margin-left -50px
			
			.current
				color rgba(255, 255, 255, 0.5)
				font-weight bold

.intro-text
	position relative
	top -100vh
	padding-top 32vh
	width 40%
	left 50%
	
	h1
		font-family big-caslon-fb, serif
		color white
		line-height 75px
		margin-bottom 100px
		white-space nowrap

		span
			display block
			text-align center
			font-family inherit
			
			&.title-top
				font-size 50px
				font-weight bold
			
			&.title-bottom
				font-size 80px
				color $text
				position relative
				
				&:after
					content ''
					position absolute
					bottom -45px
					left 50%
					transform translateX(-50%)
					width 100px
					height 1px;
					opacity 0.5
					background-color $text
					
	h2
		margin-top 150px
		font-family forma-djr-deck, sans-serif
		font-weight normal
		color $text
		font-size 23px
		line-height 35px
		opacity 0.8
		margin-bottom 50vh

.intro
	width 100%
	height 100vh
	position sticky
	top 0
	background url('assets/images/bg_3.png')
	background-size cover
	background-reeat no-repeat
	background-position left center
	transition transform 3s cubic-bezier(0.215, 0.61, 0.355, 1)
	
	&.zoomed
		transform scale(1.3)
	
	svg
		position absolute
		top 0
		left 0

	&__step
		width 100%
		height 70vh
		position relative
		
		&__text
			font-family $serif
			font-size 24px
			//opacity 0
			line-height 32px
			color $text
			margin auto
			max-width 400px
		
	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
	
	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
	
	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
