/* CUSTOM STORY STYLE */

body 
  background-color $bg_80
  
.story-section
  min-height 100vh
  border-top 1px solid $bg_40;
  
  &.tidal-flooding
    background-color #3d3849;
    
  &.storm-surge
    background-color #f297a0;
    
  &.wind
    background-color #314745;