/* CUSTOM STORY STYLE */

body 
  background-color #030305
  padding-bottom 100px
  position absolute
  width 100vw
  
.end-icon
  width 40px
  margin auto
  opacity 0.5
  margin-top 70px
 
.text
  font-size 20px
  font-family $serif
  color $text

.text--centered
  width 500px
  margin auto
  margin-bottom 40px
  

#map-bg
  width 100vw
  height calc(100vw * 0.707157)
  background url('assets/images/us-coast.png')
  background-size cover
  background-position center
  position relative
  
  #map-svg-wrap
    position absolute
    width 100%
    height 100%
    left 0
    top 0
    
  .state
    opacity 0.5
    fill red 
    
  .storm-path
    fill transparent
    stroke black
    opacity 0.5

.story-section
  min-height 100vh
  background-color #030305;
  
.toggle
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;

  &__option
    float left
    background-color black
    font-family $sans
    text-transform uppercase
    font-size 13px
    color $bg_60
    padding 8px
    width 120px
    text-align center
    border-radius 2px

.toggle
  
  input[type="checkbox"]
    opacity 0
    position absolute
    top 0 
    left 0
    
    &:checked
      ~ label
        
        .toggle__switch
          left 0px

          &:before
            content attr(data-checked)
            left 0
  
  label
    user-select none
    position relative
    display flex
    align-items center
    
    .toggle__label-text
      flex 1
      padding-left 32px
    
    .toggle__switch
      
      &:before
        border-radius 2px
        box-sizing border-box
        content attr(data-unchecked)
        position absolute
        top 0
        text-transform uppercase
        text-align center
        width 120px
        padding 8px
        font-family $sans
        text-transform uppercase
        font-size 13px
        color $text
        position absolute
        left 120px
        transition left 0.2s ease
        background-color $bg_80
          
  @include can-toggle-branding; 
  @include can-toggle-appearance; 
  
.split-wrap
  max-width 1200px
  margin auto
  padding 0 25px
  display flex
  align-items flex-start
  align-content flex-start


  .split-chart
    flex 1
    position sticky
    top 0
    margin-right 80px
    height 100vh
    
  .split-text
    width 350px
    padding 40vh 0
    
    p
      font-size 20px
      font-family $serif
      color $text
      margin 200px 0
      
.split-header-wrap
  width 100vw
  height 200vh
  pointer-events none
  
  .split-header-text
    font-family big-caslon-fb, serif
    color white
    text-align center
    opacity 1
    pointer-events all
    
    span
      display block
      
      &.small
        font-size 18px
        font-family forma-djr-deck, sans-serif
        text-transform uppercase
        letter-spacing 2px
        font-weight bold
        opacity 0.6        
        
      &.large
        margin-top -10px
        font-size 80px
  
  .split-image__credit
    position absolute
    left 0
    bottom 0
    padding 8px
    background-color rgba(black, 0.5)
    color rgba(white, 0.6)
    border-top-right-radius 5px
    font-family forma-djr-deck, sans-serif

  .split-image-wrap
    width 100vw
    height 100vh
    overflow hidden
    position sticky
    top 0
    pointer-events none
    
    .split-image
      width 100%
      height 100vh
      background-position center
      background-size cover
      
.outro
  position relative
  top -70vh
  padding-bottom 100px
  
.mobile
  display none
  
@media (max-width: 650px)
  .image-chart-wrap
    padding 20px 0

  html, body
    width 100vw
    overflow-x hidden
    
  .desktop
    display none
  
  .mobile
    display block

  .outro
    top 0
  
  .split-image-wrap
    display none
    
  .split-header-wrap
    height auto
    
  .text--centered
    width auto
    padding 0 15px
    
  .split-wrap
    display block
    padding 0
    
    .split-chart
      flex 1
      position sticky
      top 0
      margin-right 0px
      height 100vh
    
  .split-text
    margin-top -100vh
    padding 0 15px !important
    width auto !important
    position relative
    z-index 999
    padding-top 0
    
    p
      margin 40px 0 !important
      color white !important
      padding 0px !important
      border-radius 2px !important
      opacity 1 !important
