.surge
  padding-top 0px
  margin-top -50vh
  
.count-label
  font-family forma-djr-deck, sans-serif
  font-size 26px
  font-weight bold
  
.count-label-text
  font-family forma-djr-deck, sans-serif
  
.dollar-count
  font-family forma-djr-deck, sans-serif
  font-size 56px
  font-weight bold
  
.surge-title
  font-family forma-djr-deck, sans-serif
  font-size 32px
  font-weight bold
  fill white