.tidal-flood
  background-color $bg_100
  padding-bottom 100px
  
  p
    color $text
    
.tidal-intro
  padding 100px 5px
  margin-top -50vh

.tidal-header
  position relative
  
  .tidal-video-wrap
    position sticky
    top 0

  .tidal-video-wrap:after
    position absolute
    content ''
    position absolute
    left 0
    top 0
    height 100%
    width 100%
    background-color #000000
    opacity 0.7

.tidal-title 
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  
  h2, h4
    color white
    font-family $sans
    text-align center
    text-shadow 0 0 20px #000000
    margin 0
    font-weight 800
    
  h2
    font-size 90px
    
    
  h4
    text-transform uppercase
    letter-spacing 2px
    
.tidal-main
  display flex
  flex-direction row
  
  .tidal-main-header
    font-family forma-djr-deck, sans-serif
    fill $text
    font-weight bold
    font-size 22px
    text-anchor middle
    letter-spacing 0.5px

  &__text
    width 450px
    padding 40vh 50px
    z-index 999
    
    .text--right
      margin 150px 0
    
  &__graphic
    flex 1
    height 100vh
    position sticky
    top 0  
    
    canvas
      position relative
    
    img
      height 100%
      width auto
      position absolute
      left 50%
      transform translateX(-50%)
    
    svg
      position absolute
      top 0
      left 0
      
      .county-label
        font-family forma-djr-deck, sans-serif
        font-weight bold
        font-size 16px
        letter-spacing 0.5px
    
.tidal-step
  transition opacity 0.4s ease
  
.box-label-text
  font-family forma-djr-deck, sans-serif
  fill $text
  
.orange-label
  path, rect
    stroke #e36f22;
    
#county-header
  font-family forma-djr-deck, sans-serif
  color white
  font-size 22px
  opacity 1
  font-weight bold
  position absolute
  left calc(50% + 100px)
  transform translateX(-50%)
  top 100px
  letter-spacing 0.5px
  opacity 0
  z-index 999
  width 500px
  text-align center
  
  .tidal-toggle
    display inline
    border none
    font-size 22px
    color white
    background-color $bg_80
    padding 10px 10px
    height 35px
    font-weight bold
    border-radius 3px
    margin-left 5px
    cursor pointer !important
    -webkit-box-shadow 0px 3px 14px 0px rgba(0,0,0,0.3)
    -moz-box-shadow 0px 3px 14px 0px rgba(0,0,0,0.3)
    box-shadow 0px 3px 14px 0px rgba(0,0,0,0.3)

#tidal-values
  max-height 620px
  overflow hidden
  position relative
  
  &:after
    content ''
    position absolute
    bottom 0
    width 100%
    height 100px
    background: linear-gradient(0deg, rgba(0,0,0,1) 18%, rgba(14,13,18,0.5) 67%, rgba(14,13,18,0) 100%);