#wind-sm
  width calc(100% - 100px)
  margin auto
  
.wind-sm
  .x.axis
    line
      stroke $bg_80  

    text 
      fill $text
      font-size 12px
      opacity 0.5
      font-weight normal
      font-family $sans
      
  .line
    stroke #e36f22
    stroke-width 4
    fill none
    
  .fill
    fill #e36f22
    opacity 0.3
    
  .sm-title
    fill $text
    font-family $sans
    font-size 14px