#wind-sm
  width calc(100% - 100px)
  margin auto
  
.wind-sm__header
  margin 50px auto
  &__title
    color $text
    font-family $sans
    font-weight bold
    margin auto
    text-align center

.x.axis, .y.axis
    .domain
      display none

    line
      stroke $bg_80
      stroke-opacity 0.8  

    text 
      fill $text
      font-size 12px
      opacity 0.5
      font-weight normal
      font-family $sans

.wind-sm      
  .line
    stroke #e36f22
    stroke-width 3
    fill none
    
  .fill
    fill #e36f22
    opacity 0.5
    
  .sm-title
    fill $text
    font-family $sans
    font-size 14px
    opacity 0.7
    
#wind-main
  max-width 1200px
  margin auto
  padding 0 25px
  display flex
  align-items flex-start
  align-content flex-start

  &__chart
    flex 1
    position sticky
    top 0
    margin-right 80px
    height 100vh
    
    svg
      position absolute
      top 50%
      transform translateY(-50%)
    
    .line
      stroke #e36f22
      stroke-width 3
      fill none
      
    .fill
      fill #e36f22
      opacity 0.5
    
  &__text
    width 350px
    padding 50% 0
    
    p
      font-size 20px
      font-family $serif
      color $text
      margin 150px 0
